<div class="nys-grid-container">
  <div class="nys-grid-row">
    <div class="nys-grid-col">
      <h1>Excelsior Components + Angular</h1>

      <form class="nys-form" #form="ngForm" (ngSubmit)="onSubmit(form.value)">

        <!-- Text Input -->
        <nys-textinput
          label="First Name"
          name="firstName"
          width="lg"
          required
          [(ngModel)]="formData.firstName">
        </nys-textinput>

        <!-- Textarea -->
        <nys-textarea
          label="Message"
          name="message"
          width="lg"
          rows="4"
          required
          [(ngModel)]="formData.message">
        </nys-textarea>

        <!-- Checkbox -->
        <nys-checkbox
          label="Agree to Terms"
          description="I agree to the terms and conditions of this very important form."
          name="agree"
          required
          [(ngModel)]="formData.agree">
        </nys-checkbox>

        <!-- Radio Buttons -->
        <nys-radiogroup
        name="office"
        label="What is your primary work location?"
        description="This is the location you use for your in office days."
        [(ngModel)]="formData.office"
        >
          <nys-radiobutton
            name="office"
            label="Albany"
            description="Upstate New York"
            value="Albany"
            >
          </nys-radiobutton>
          <nys-radiobutton
            name="office"
            label="Manhattan"
            description="New York City"
            value="Manhattan"
            >
          </nys-radiobutton>
        </nys-radiogroup>

        <!-- Select Dropdown -->
        <nys-select
          label="Select your favorite borough"
          name="favoriteBorough"
          [(ngModel)]="formData.favoriteBorough"
        >
          <nys-option value="Bronx" label="The Bronx"></nys-option>
          <nys-option value="Brooklyn" label="Brooklyn"></nys-option>
          <nys-option value="Manhattan" label="Manhattan"></nys-option>
          <nys-option value="Staten Island" label="Staten Island"></nys-option>
          <nys-option value="Queens" label="Queens"></nys-option>
        </nys-select>


      <!-- Alert Component -->
      <div>
        <nys-alert
          #alert
          theme="info"
          heading="Test Form"
          text="Submit the form to see what form data is passed."
        ></nys-alert>
      </div>

        <!-- Submit Button -->

        <button class="nys-button" type="submit">Submit (Native)</button>
        <nys-button type="submit" label="Submit (Web Component)"></nys-button>


      </form>

    </div>
  </div>
</div>
